.galleryContainer {
  display: block;
  height: 240px;
  width: 300px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid transparent;
  border-radius: 10px;
  -o-border-image: url("/src/images/galleryImages/dim2.jpg") 30 round;
     border-image: url("/src/images/galleryImages/dim2.jpg") 30 round;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
  -webkit-animation-name: animGallery;
          animation-name: animGallery;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.gridPicture {
  border-radius: 10px;
}

.gridContainer:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes animGallery {
  0% {
    top: 0px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5.5% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  11% {
    top: 0px;
    left: -600px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  16.5% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  22% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  27.5% {
    top: 0px;
    left: -300px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  38.5% {
    top: -240px;
    left: -300px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  44% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  49.5% {
    top: -240px;
    left: -600px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  60.5% {
    top: -480px;
    left: -600px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  66% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  71.5% {
    top: -240px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  77% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  82.5% {
    top: -480px;
    left: -300px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  88% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  93.5% {
    top: -480px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  100% {
    top: 0px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animGallery {
  0% {
    top: 0px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5.5% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  11% {
    top: 0px;
    left: -600px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  16.5% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  22% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  27.5% {
    top: 0px;
    left: -300px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  38.5% {
    top: -240px;
    left: -300px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  44% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  49.5% {
    top: -240px;
    left: -600px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  60.5% {
    top: -480px;
    left: -600px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  66% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  71.5% {
    top: -240px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  77% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  82.5% {
    top: -480px;
    left: -300px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  88% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  93.5% {
    top: -480px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    top: -240px;
    left: -99px;
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  100% {
    top: 0px;
    left: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* @media screen and (max-width:1000px) {
    .galleryContainer {
        visibility: hidden;
        position: absolute;
    }
} */
/*# sourceMappingURL=animGallery.css.map */