* {
    --culoare1: rgba(1, 21, 38, 1) !important;
    --culoare2: rgba(2, 36, 80, 1);
    --culoare3: rgb(94, 119, 105) !important;
    --culoare4:rgba(217, 202, 200, 1);
    --culoare5: rgba(250, 250, 250, 1);
}

body {
    background-color: var(--culoare1);
}
.fa-moon {
    visibility: visible !important;
    position: relative !important;
}
.fa-sun {
    visibility: hidden;
    position: absolute;
}