@import url(d:\CODING\FMI UNIBUC\AN2\SEM2\TEHNICI WEB\Banca Oltenia\src\styles\schema-cromatica.css);
#menu {
  z-index: 10;
  display: block;
  position: relative;
  background-color: var(--culoare3);
  list-style: none;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 0;
}

#menu a {
  display: block;
  text-decoration: none;
  padding: 1em;
  width: auto;
  color: var(--culoare5);
  -webkit-transition: background-color 0.5s, color .5s;
  transition: background-color 0.5s, color .5s;
}

#menu a:hover {
  background-color: var(--culoare2);
  color: var(--culoare3);
  border-radius: 10px;
}

#menu #bars {
  position: absolute;
  visibility: hidden;
}

#menu #barsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
}

#menu #barsMenu #homeMenu {
  list-style: none;
  padding: 0;
  position: absolute;
  visibility: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  background-color: var(--culoare3);
  border-radius: 10px;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

#menu #barsMenu #homeMenu #prodMenu {
  list-style: none;
  padding: 0;
  position: absolute;
  visibility: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  background-color: var(--culoare3);
  border-radius: 10px;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

#menu #barsMenu #homeMenu #showProdMenu:hover #prodMenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#menu #barsMenu .showHomeMenu:hover #homeMenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#menu #barsMenu .specialTab {
  position: relative;
}

#menu #barsMenu .navLine {
  display: block;
  position: absolute;
  margin-left: 5%;
  width: 90%;
  color: #fafafa;
  height: 2px;
  background-color: #fafafa;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

#menu #barsMenu .specialTab:hover .navLine {
  -webkit-transform: translateY(2.5em);
          transform: translateY(2.5em);
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  #menu a {
    font-size: 90%;
  }
  #menu #home {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
  #menu #bars {
    position: relative;
    visibility: visible;
  }
  #menu a {
    text-align: center;
  }
  #menu #barsMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--culoare2);
    visibility: hidden;
    position: absolute;
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    -webkit-transition: background-color 2s, -webkit-clip-path 2s;
    transition: background-color 2s, -webkit-clip-path 2s;
    transition: clip-path 2s, background-color 2s;
    transition: clip-path 2s, background-color 2s, -webkit-clip-path 2s;
    border-radius: 10px;
  }
  #menu #barsMenu #homeMenu {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #menu #barsMenu #homeMenu #prodMenu {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #menu #barsMenu #homeMenu #showProdMenu:hover #prodMenu {
    position: relative;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #menu #barsMenu .showHomeMenu:hover #homeMenu {
    position: relative;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #menu #showBigMenu:hover #barsMenu {
    position: relative;
    visibility: visible;
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    background-color: var(--culoare3);
  }
}
/*# sourceMappingURL=variante-meniu.css.map */