<!DOCTYPE html>

<head>

    <%- include("../fragments/standardHead.ejs") %>

    <title>Asociatia "Imparte bucurii"</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/src/styles/asociatie-layout.css" rel="stylesheet" type="text/css"> 

</head>
<html>

<body>

    <%- include("../fragments/header.ejs") %>

        <div>
            <h2>Asociatia <q>Imparte bucurii</q></h2>
        </div>

        <div class="container">
            <div class="containerElem">
                <h2>Cine suntem?</h2>

                <p>
                    Suntem un grup de tineri care cred ca un minim gest oferit la momentul potrivit ii poate reda unui
                    om speranta si dorinta de a lupta pentru a-si depasi conditia.
                </p>

            </div>

            <div class="containerElem">
                <h2>Ce facem noi?</h2>

                <p>
                    Fie că vorbim de oameni care au nevoie de hrană, îmbrăcăminte, medicamente sau chiar o vorbă bună,
                    noi le prezentăm poveștile pe această platformă online, urmând ca oamenii care vor să le ofere o
                    bucurie, să o poată face direct către ei, sau prin intermediul voluntariilor noștrii.

                </p>

            </div>

            <div class="containerElem">

                <h2>Cum poți ajuta cazurile prezentate?</h2>
                <p>
                    Fiecare caz pezentat este însoțit de date de contact. Astfel, puteți să vă implicați direct sau
                    puteți să apelați la voluntarii din acest proiect. Împreună vom găsi soluții pentru ca ajutorul
                    oferit de dumneavoastră să ajungă către cazul pe care doriți să-l sprijiniți.

                </p>

            </div>

        </div>

        <%- include("../fragments/footer.ejs") %>

</body>

</html>