<!DOCTYPE html> 
<head>

    <%- include("../fragments/standardHead.ejs") %>
    <title>Galerie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>
   
    <body>

        <%- include("../fragments/header.ejs") %>
        <%- include("../fragments/galerieFragment.ejs") %>
        <%- include("../fragments/footer.ejs") %>

    </body>

</html>