<!DOCTYPE html> 
<head>
    <%- include("../fragments/standardHead.ejs") %>

    <link href="/src/styles/page404.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>
   
    <body>

        <%- include("../fragments/header.ejs") %>

        <div class="container">
            <div class="element">    
                Imi pare rau, dar nu ai voie.
            </div>
    
            <div id="bigNumber" class="element">
                403
            </div>
        </div>        

        <%- include("../fragments/footer.ejs") %>

    </body>

</html>