<!DOCTYPE html>
<html>

<head>

    <%- include("../fragments/standardHead.ejs") %>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

    <%- include("../fragments/header.ejs") %>

        <div class="textZona1">

            <p>Aici este o pagina goala =P</p>

        </div>


        <%- include("../fragments/footer.ejs") %>

</body>

</html>