@import "schema-cromatica.css";

.comeToUsContainer {
   display: flex;
   flex-direction: row;
   width: fit-content;
   margin: auto;
   justify-content: space-between;
}

.comeToUsContainer i {

   display: block;
   margin: auto;
   animation: iconAnim 5s linear infinite;
   color: var(--culoare3);
}

@keyframes iconAnim {
   0% {
      transform: scale(0.5);
   }

   50% {
      transform: scale(1.25);
   }


   100% {
      transform: scale(0.5);
   }

}