body {
    font-family:Arial, Helvetica, sans-serif
}



#title {
    display: block;
    text-align: center;
    transition: transform 2s;
}

#title:hover {
    transform: scale(1.1);
}
#title > img {
    width: 15%;
    
}

h3 {
    padding: 0.5em;
    box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 2em;
    margin-top: 1em;

}

.poze {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em;
    
}
.poze img {
    width: 30%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: transform 1s;
}

.poze img:hover {
    transform: scale(1.1);
}

.zonele-2-3-4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    margin: 2em;
}
.zonele-3-4 {
    display: grid;
    grid-template-rows: auto auto;
}

.zonele-2-3-4 h3 {
    text-align: center;
}

.valutar {
    margin: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
}
.valutar td, th {
    padding: 1em;
    border: 1px solid rgba(2, 36, 80, 1);
}

.valutar th {
    background-color: rgba(2, 36, 80, 1);
}


.calendar {
    margin: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
}
.calendar td, th {
    padding: 1em;
    border: 1px solid rgba(2, 36, 80, 1);
}

.listanunt {
    padding: 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.listanunt li {
    border: 1px solid rgba(2, 36, 80, 1);
    padding: 0.5em;
    list-style: none;
}

.zonele-5-6-7 {
    display: grid;
    grid-template-columns: 30% 38% 30%;
    grid-gap: 1%;
    text-align: center;
}

.zonele-5-6-7 h3 {
    text-align: center;
}

.list {
    width: fit-content;
}

.zona-5 li {
    padding: 0.4em;
    margin: 0.5em;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.datautil {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.datautil td {
    padding: 1em;
    border: 1px solid rgba(2, 36, 80, 1);
    text-align: start;
}
.zona-7 p{
    text-align: start;
    margin: 1em;
}

.loc-prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.prod {
    margin: 1em;
    padding: 1em;
    height: fit-content;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);

}

#detalii p {
    margin: 2em;
}