@import "schema-cromatica.css";

.tabelValutar {
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.tabelValutar td, th {
    padding: 1em;
    border: 1px solid var(--culoare2);
    color: var(--culoare5);
}

.tabelValutar th {
    background-color: var(--culoare2);
}

.tabelValutar tr:nth-of-type(odd) {
    background-color: var(--culoare4);
   }

.tabelValutar tr:nth-of-type(even) {
 background-color: var(--culoare3);
}

.tabelValutar tr {

    transition: color .5s, background-color .5s;
}
.tabelValutar tr:hover {
    background-color: var(--culoare2);
}





@media screen and (max-width: 1000px) {
    #containerTabel {
        overflow-x: scroll;
        width: 200px;
        margin: auto;
        border-radius: 10px;
    }
}