@import "./schema_cromatica.css";

$background: rgba(2, 36, 80, 1);
$shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
$menuTransition: opacity .5s, transform .5s;
$textColor: rgba(250, 250, 250, 1);


#menu {
    z-index: 10;
    display: block;
    position: relative;
    background-color: var(--culoare3);
    list-style: none;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 0;

    a {
        display: block;
        text-decoration: none;
        padding: 1em;
        width: auto;
        color: var(--culoare5);
        transition: background-color 0.5s, color .5s;
    }

    a:hover {
        background-color: var(--culoare2);
        color: var(--culoare3);
        border-radius: 10px;
    }

    #bars {
        
        position: absolute;
        visibility: hidden;
    }

    #barsMenu {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
       
        #homeMenu {
            list-style: none;
            padding: 0;
            position: absolute;
            visibility: hidden;
            box-shadow: $shadow;
            background-color: var(--culoare3);
            border-radius: 10px;
            opacity: 0;
            transform: scale(0.5);
            transition: $menuTransition;
            

            #prodMenu {
                list-style: none;
                padding: 0;
                position: absolute;
                visibility: hidden;
                box-shadow: $shadow;
                background-color: var(--culoare3);
                border-radius: 10px;
                opacity: 0;
                transform: scale(0.5);
                transition: $menuTransition;
            }

            #showProdMenu:hover {
                #prodMenu {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        .showHomeMenu:hover {

            #homeMenu {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }

        }

        .specialTab {
            position: relative;
        }

        .navLine {
            display: block;
            position: absolute;
            margin-left: 5%;
            width: 90%;
            color: $textColor;
            height: 2px;
            background-color: $textColor;
            opacity: 0;
            transition: transform 1s, opacity 1s;
        }

        .specialTab:hover {
            .navLine {
                transform: translateY(2.5em);
                opacity: 1;
            }
        }
    }

}

@media screen and (max-width: 1000px) {

    #menu {

        a {
            font-size: 90%;
        }

        #home {
            visibility: hidden;
            position: absolute;
        }

    }
}

@media screen and (max-width: 600px) {

    #menu {
        #bars {
            position: relative;
            visibility: visible;
        }

        a {
            text-align: center;
        }

        #barsMenu {
            flex-direction: column;
            background-color: var(--culoare2);
            visibility: hidden;
            position: absolute;
            clip-path: circle(0%);
            transition: clip-path 2s, background-color 2s;
            border-radius: 10px;

            #homeMenu {
                opacity: 1;
                transform: scale(1);

                #prodMenu {
                    opacity: 1;
                    transform: scale(1);
                }

                #showProdMenu:hover {
                    #prodMenu {
                        position: relative;
                        visibility: visible;
                        box-shadow: none;
                    }
                }
            }

            .showHomeMenu:hover {
                #homeMenu {
                    position: relative;
                    visibility: visible;
                    box-shadow: none;
                }
            }
        }

        #showBigMenu:hover {
            #barsMenu {
                position: relative;
                visibility: visible;
                clip-path: circle(100%);
                background-color: var(--culoare3);
            }
        }
    }
    
}