<footer>

    <a href="#inceput" rel="Inceput de pagina">

        <div id="butonHome" title="Catre inceput">

            <div id="cone"></div>

        </div>


    </a>
    <!--link catre inceput-->

    <address>

        <p><a href="tel:+4075455282">Telefon: 0754544434</a></p>
        <p><a href="mailto:support@bancaolt.com">Email: support@bancaolt.com</a></p>
        <p>Adresa: Craiova</p>

    </address>

    <div id="restInfo">

        <small>&copy; Copyright <time datetime="2021-03-04">Martie 2021</time> Banca Oltenia</small>
   
    </div>

</footer>