<div class="galleryContainer">
    <div class="gridContainer">
        <% for(let image of locals.images) {%>
            
            <img class="gridPicture" src="<%- image.normal %> " alt="<%- image.description %> ">

            <% } %>
    </div>


</div>