<header id="inceput">

    <div id="title">

        <img src="/src/images/title_ico_512x512.png" alt="pozaTitlu">
        <h1> Banca Oltenia </h1>

    </div>

    <nav>
        <!--am realizat meniul navigare in pagina-->

        <ul id="menu">

            <li id="showBigMenu">

                <a id="bars"><i class="fa fa-bars brs"></i></a>
                <ul id="barsMenu">

                    <li class="showHomeMenu">

                        <a href="http://<%- locals.serverIp %>:8080/index"> <i id="iconHomeMenu" class="fa fa-home"></i>
                            <data value="home" id="home">Acasa</data>
                        </a>
                        <ul id="homeMenu">
                            <li><a href="#cursValutar">Curs valutar</a></li>
                            <li><a href="#calendar">Calendar</a></li>
                            <li><a href="#anunturi">Anunturi</a></li>
                            <li><a href="#utilizatoriOnline">Utilizatori online</a></li>
                            <li><a href="#dateUtilizator">Date utilizator</a></li>
                            <li><a href="#despreSite">Despre site</a></li>
                            <li><a href="#detalii">Despre noi</a></li>
                            <li id="showProdMenu">

                                <a href="#produse"> Produse</a>
                                <ul id="prodMenu">

                                    <li><a href="#angajat">Pachet special pentru angajati</a></li>
                                    <li><a href="#student">Pachet special pentru studenti</a></li>
                                    <li><a href="#firma">Pachet special pentru firme</a></li>

                                </ul>

                            </li>

                        </ul>
                    </li>
                    <li class="specialTab">
                        <div class="navLine"></div>
                        <a href="http://<%- locals.serverIp %>:8080/page">Contul meu</a>
                    </li>
                    <li class="specialTab">
                        <div class="navLine"></div>
                        <a href="http://<%- locals.serverIp %>:8080/asociatie" target="_blank">Asociatia <q>Imparte bucurii</q></a>
                    </li>
                    <!--link extern-->

                </ul>

            </li>

        </ul>

    </nav>
</header>