<header id="inceput">

    <div id="title">

        <img src="/src/images/title_ico_512x512.png" alt="pozaTitlu">
        <h1> Banca Oltenia </h1>
        <div id="changeThemeBtn"><i class="fas fa-moon"></i> <i class="fas fa-sun"></i></div>

    </div>

    <nav>
        <!--am realizat meniul navigare in pagina-->

        <ul id="menu">

            <li id="showBigMenu">

                <a id="bars"><i class="fa fa-bars brs"></i></a>
                <ul id="barsMenu">

                    <li class="showHomeMenu">

                        <a href="/index"> <i id="iconHomeMenu" class="fa fa-home"></i>
                            <data value="home" id="home">Acasa</data>
                        </a>
                        <ul id="homeMenu">
                            <li><a href="/index#cursValutar">Curs valutar</a></li>
                            <li><a href="/index#calendar">Calendar</a></li>
                            <li><a href="/index#anunturi">Anunturi</a></li>
                            <li><a href="/index#utilizatoriOnline">Utilizatori online</a></li>
                            <li><a href="/index#dateUtilizator">Date utilizator</a></li>
                            <li><a href="/index#despreSite">Despre site</a></li>
                            <li><a href="/index#detalii">Despre noi</a></li>
                            <li id="showProdMenu">

                                <a href="/produse?mainCategory=all"> Produse</a>
                                <ul id="prodMenu">

                                    <li><a href="/produse?mainCategory=angajat">Pachet special pentru angajati</a></li>
                                    <li><a href="/produse?mainCategory=student">Pachet special pentru studenti</a></li>
                                    <li><a href="/produse?mainCategory=firma">Pachet special pentru firme</a></li>

                                </ul>

                            </li>

                        </ul>
                    </li>
                    <li class="specialTab ">
                        <div class="navLine "></div>
                        <a href="/page">Contul meu</a>
                    </li>
                    <li class="specialTab">
                        <div class="navLine"></div>
                        <a href="/asociatie" target="_blank">Asociatia <q>Imparte bucurii</q></a>
                    </li>
                    <!--link extern-->

                </ul>

            </li>

        </ul>

    </nav>


</header>